<div class="navigation-wrapper">
  <p-dropdown
    [options]="views"
    [(ngModel)]="model"
    (ngModelChange)="onChange($event)"
    placeholder="Select a view"
  ></p-dropdown>
  <div style="position: relative" (click)="toggleMenu($event)">
    {{ dateDescription }}

    @if (showMenu) {
    <mini-year (closeNavigation)="closeNavigationCalendar()"></mini-year>
    }
  </div>
  <div class="up-down-group">
    <msbutton label="&#x25C0;" (onClick)="onLeftButtonClick()"></msbutton>
    <msbutton label="&#x25B6;" (onClick)="onRightButtonClick()"></msbutton>
  </div>
</div>
