<div
  *ngIf="day"
  class="calendar-day"
  (click)="setDay()"
  (dragover)="$event.preventDefault()"
  [style.background-color]="isCurrentMonth() ? 'white' : 'silver'"
>
  <div class="positioner">
    <div class="event-container">
      @if (day.entries.length > visibleEvents) {
      <div class="dots" (click)="openDialog(day, $event)">
        &#x2022;&#x2022;&#x2022;
      </div>
      } @for (data of day.entries; track $index) { @if ($index < (visibleEvents
      - 1) || day.entries.length === visibleEvents) {
      <div
        class="event-card"
        [style.background-color]="data.color"
        [draggable]="data.draggable"
        (dragstart)="dragStart(data)"
        (click)="click(data)"
      >
        <p
          [style.color]="getContrastColor(data.color)"
          class="event-opis"
          for="data"
        >
          {{ data.description }}
        </p>
      </div>
      } }
      <div class="day-holder" (click)="goToDay()" [class.today]="isToday()">
        {{ day.number }}
      </div>
    </div>
  </div>
</div>
@if(editing && editingEntry !== undefined){
<edit-dialog [entry]="editingEntry" (onHide)="hideDialog()"></edit-dialog>

}
