<div class="side-panel-wrapper">
    <div class="side-panel-placeholder"></div>
    <div class="side-panel-content" [ngClass]="{ expanded: isExpanded }">
        <div class="icon-container">
            <img
                src="../../assets/icons/house-solid.svg"
                alt="Home"
                title="Home"
                routerLink="/"
                routerLinkActive="active"
            />
            <div
                class="labelText animation"
                [ngStyle]="{ visibility: isExpanded ? 'visible' : 'hidden' }"
                [ngClass]="{ textExpanded: isExpanded }"
            >
                Home
            </div>
        </div>
        <div class="icon-container">
            <img
                src="../../assets/icons/calendar-solid.svg"
                alt="Calendar"
                title="Calendar"
                routerLink="/calendar"
                routerLinkActive="active"
            />
            <div
                class="labelText animation"
                [ngStyle]="{ visibility: isExpanded ? 'visible' : 'hidden' }"
                [ngClass]="{ textExpanded: isExpanded }"
            >
                Calendar
            </div>
        </div>
        <div class="icon-container" (click)="expandCollapse()">
            <img
                src="../../assets/icons/angles-right-solid.svg"
                [alt]="expandCollapseText"
                [title]="expandCollapseText"
                class="flip animation"
            />
            <div
                class="labelText animation"
                [ngStyle]="{ visibility: isExpanded ? 'visible' : 'hidden' }"
                [ngClass]="{ textExpanded: isExpanded }"
            >
                Collapse
            </div>
        </div>
    </div>
    <div *ngIf="isExpanded" class="dimmed-background animation"></div>
</div>
