<div class="side-panel-wrapper">
    <div class="side-panel-placeholder"></div>
    <div class="side-panel-content" [ngClass]="{ expanded: isExpanded }">
        <ng-container *ngFor="let element of sidePanelItems">
            <div
                class="icon-container"
                [routerLink]="element.route"
                [routerLinkActive]="element.route ? 'active' : ''"
                (click)="handleItemClick(element)"
            >
                <img
                    [src]="element.source"
                    [alt]="element.label"
                    [title]="element.label"
                />
                <div
                    class="labelText animation"
                    [ngStyle]="{
                        visibility: isExpanded ? 'visible' : 'hidden'
                    }"
                    [ngClass]="{ textExpanded: isExpanded }"
                >
                    {{ element.label }}
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="isExpanded" class="dimmed-background animation"></div>
</div>
