<div id="calendar-wrapper">
    <details-dialog
        *ngIf="showDialog"
        [data]="detailsData"
        [day]="detailsDay"
        (closeDialog)="closeDialog()"
        (onHide)="closeDialog()"
    ></details-dialog>

    <div class="header-container" *ngIf="weeks">
        <div *ngFor="let day of days" class="day-header">
            <span>{{ day }}</span>
        </div>
    </div>
    <div *ngFor="let week of weeks" class="calendar-week">
        <ng-container *ngIf="week">
            <div
                class="day"
                day-of-month
                *ngFor="let day of week"
                [day]="day"
                (drop)="drop(day, $event)"
                (dragover)="$event.preventDefault()"
                (openDialog)="openDialog($event)"
            ></div>
        </ng-container>
    </div>
</div>
