<div class="navigation-wrapper">
    <msbutton label="Dzisiaj"></msbutton>
    <div class="up-down-group">
        <msbutton label="&#x25C0;" (onClick)="onLeftButtonClick()"></msbutton>
        <msbutton label="&#x25B6;" (onClick)="onRightButtonClick()"></msbutton>
    </div>
    <msbutton label="QuickNav&#x25BC;"></msbutton>
</div>
<!-- <div class="month-container" #monthContainer>
    <div
        *ngFor="let month of monthElements; let i = index"
        class="month"
        (click)="onClick()"
    >
        {{ month }}
    </div>
</div> -->
